/* Default (light mode) */
html {
  background-color: white;
  colour: black;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
html {
  background-color: #121212;
  color: #f5f5f5;
}
}

/* header, footer */
header, footer {
  font-family: "Lexend";
  font-weight: <--!weight-->
}

nav {
  font-family: "Lexend";
  font-weight: <--!weight-->
}

body {
  font-family: "OpenDyslexic"; <--!to amend-->
  font-weight: <--!weight-->
}
